@import "tailwindcss";
@import "katex/dist/katex.min.css";

:root {
  /* 기본*/
  --bg: #ffffff;
  --text: #000000;

  /* 사이드 바 */
  --sidebar-border: #d1d5dc;
  --sidebar-newchat-hover: #f3f4f6;
  --sideber-login-hover: #f3f4f6;

  /* 채팅 페이지 배경 */
  --chat-background: #fafafa;

  /* ai 메세지 ui */
  --aichat-background: #ffffff;
  --aichat-border: #e5e5e5;
  --aichat-text: #262626;

  /* 추론 ui */
  --thinking-border: #e5e5e5;
  --thinking-text: #737373;
  --thinking-hover-bg: #fafafa;
  --thinking-hover-text: #262626;
  --thinking-sideline: #d4d4d4;

  /* 유저 메세지 ui*/
  --user-chat: #155dfc;
  --user-text: #ffffff;

  /* ai 메세지 태그 디자인 */
  --aichat-list: #404040;

  --aichat-marker: #a1a1a1;

  --aichat-block-border: #d4d4d4;
  --aichat-block-bg: #fafafa;
  --aichat-block-text: #525252;

  --aichat-code-bg: #f5f5f5;
  --aichat-code-text: #222222;

  --aichat-codeblock-bg: #262626;
  --aichat-codeblock-text: #f5f5f5;

  --aichat-table-border: #e5e5e5;

  --aichat-thead-bg: #fafafa;
  --aichat-thead-text: #404040;
  --aichat-thead-border: #e5e5e5;

  --aichat-td-border: #f5f5f5;
  --aichat-td-text: #525252;

  --aichat-hr-border: #e5e5e5;

  --aichat-a-text: #155dfc;
  --aichat-a-text-hover: #193cb8;

  /* 메세지 input ui */
  --input-bg: #f3f4f6;
  --input-text: #ffffff;
  --input-button-bg: #3B82F6;
  --input-button-hover: #155dfc;
  --input-border: #e5e7eb;

  /* 로그인 폼 ui */
  --loginform-bg: #000000;
  --loginform-close-hover: #f3f4f6;
  --loginform-explain: #4a5565;
  --loginform-button-border: #6a7282;
}


html.dark {
  /* 기본 */
  --bg: #171717;
  --text: #f5f5f5;

  /* 사이드 바 */
  --sidebar-border: #2f2f2f;
  --sidebar-newchat-hover: #262626;
  --sideber-login-hover: #262626;

  /* 채팅 페이지 배경 */
  --chat-background: #0f0f0f;

  /* ai 메세지 ui */
  --aichat-background: #171717;
  --aichat-border: #2f2f2f;
  --aichat-text: #f5f5f5;

  /* 추론 ui */
  --thinking-border: #404040;
  --thinking-text: #a3a3a3;
  --thinking-hover-bg: #262626;
  --thinking-hover-text: #fafafa;
  --thinking-sideline: #525252;

  /* 유저 메세지 ui */
  --user-chat: #2563eb;
  --user-text: #ffffff;

  /* ai 메세지 태그 디자인 */
  --aichat-list: #e5e5e5;

  --aichat-marker: #737373;

  --aichat-block-border: #404040;
  --aichat-block-bg: #202020;
  --aichat-block-text: #d4d4d4;

  --aichat-code-bg: #262626;
  --aichat-code-text: #f5f5f5;

  --aichat-codeblock-bg: #0d0d0d;
  --aichat-codeblock-text: #f5f5f5;

  --aichat-table-border: #404040;

  --aichat-thead-bg: #202020;
  --aichat-thead-text: #f5f5f5;
  --aichat-thead-border: #404040;

  --aichat-td-border: #303030;
  --aichat-td-text: #d4d4d4;

  --aichat-hr-border: #404040;

  --aichat-a-text: #60a5fa;
  --aichat-a-text-hover: #93c5fd;

  /* 메세지 input ui */
  --input-bg: #262626;
  --input-text: #ffffff;
  --input-button-bg: #2563eb;
  --input-button-hover: #1d4ed8;
  --input-border: #404040;

  /* 로그인 폼 ui */
  --loginform-bg: #171717;
  --loginform-close-hover: #262626;
  --loginform-explain: #a3a3a3;
  --loginform-button-border: #525252;
}